<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../layout/assets/style/styleTodo.css"> 
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script>
      tailwind.config = {
        theme: {
          screens: {
            sm: '480px',
            md: '768px',
            lg: '976px',
            xl: '1440px',
          },
          extend: {
            backgroundImage:{
              'universe': "url('../layout/assets/img/univers.png')",
              'footer': "url('../layout/assets/img/footer-bg.png')",
              'cloudy':"url('../layout/assets/img/cloudy.svg')",
            },
            dropShadow: {
              'custom': '0 1px 1px rgba(29, 29, 29, 0.5)',
            },
            colors: {
              'blur': 'rgba(255,255,255, 0.05)',
              'transparent': 'rgba(255,255,255, 0)',
            },
          },
        }
      }
    </script>
</head>
<body>
    <nav class="fixed w-full z-50 px-2 sm:px-4 min-[320px]:px-4 py-2.5 bg-[#121212] drop-shadow-custom">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="../layout/HomePage.html" class="flex items-center">
            <span class="text-4xl md:text-2xl sm:text-xl min-[320px]:text-xl font-bold uppercase">
              Logo
            </span>
          </a>
          <div class="flex md:order-2 space-x-3">
            <div class="bg-blur flex px-2 rounded-lg">
              <img class="w-5 mr-2" src="../layout/assets/img/search.svg" alt="search" />
              <input
                id="search"
                class=" bg-transparent"
                placeholder="Searching..."
              />
            </div>
            <div  id="dropdown_button" class="dropdown_button relative" >
              <button class="block h-9 w-9 rounded-full overflow-hidden" onclick="toggleProfile()">
                <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1517849845537-4d257902454a" alt="your_image"/>
              </button>
              <ul id="subMenu" class="absolute right-0 mt-2 w-48 bg-gray-700/90 rounded-lg overflow-hidden hidden">
                <li class="block px-4 py-2 mt-2 text-gray-300">
                  User: <span>Le Xuan Cuong</span>
                </li>
                <a href="../layout/ProfilePage.html">
                  <li class="flex justify-start items-center px-4 py-2 text-gray-300 hover:bg-indigo-500">
                    <img class="w-4 mr-2" src='../layout/assets/img/user.svg' alt="profile" /> My Profile
                  </li>
                </a>
                <hr />
                <a href="../layout/WelcomePage.html">
                  <li class="flex justify-start items-center text-red-600 px-4 py-2 hover:bg-indigo-500">  
                    <img class="w-5 mr-2" src='../layout/assets/img/logout.svg' alt="logout"/> 
                    Log out
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <div class="py-48 bg-cloudy h-screen bg-black bg-repeat flex justify-center overflow-hidden">
        <div class="flex flex-col h-auto w-full items-start top-1/4 px-32 ">
            <div class="flex justify-center items-center">
                <p class="text-6xl font-bold text-white">Your space</p>
                <button class="flex bg-gray-700 px-4 py-2 ml-7 rounded-lg justify-center items-center ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300" type="button">
                    <img class="w-5 mr-2" src='../layout/assets/img/add.svg' alt="create list"/>
                    <p class="text-xl font-bold">Create new list</p>
                </button>                    
            </div>
            <!-- create new List form -->
            <!-- <div
                id="NewList"
                onClick={handleOnClose}
                class="fixed inset-0 bg-black bg-opacity-30 backdrop-blur-sm flex justify-center items-center z-50"
              >
                <form method="POST" class="max-w-xl bg-slate-800/50 h-60 px-4 rounded-lg">
                  <p class="text-xl font-bold py-5">Create new List</p>
                  <div class="flex items-center space-x-3">
                    <input
                      type="text"
                      placeholder="Enter name list"
                      class="px-2 py-2 text-lg capitalize rounded-lg bg-gray-700"
                    />
                    <p class="text-lg">-</p>
                    <input
                      type="text"
                      placeholder="Enter description"
                      class="px-2 py-2 text-lg pt-1 capitalize rounded-lg bg-gray-700"
                    />
                  </div>
                  <div class="flex items-center justify-end mt-8">
                      <button class="bg-gray-700 hover:bg-slate-600 px-5 py-2 text-lg rounded-lg " onClick={onClose}>Cancel</button>
                      <button type="submit" class="bg-indigo-700 hover:bg-indigo-600 ml-5 px-5 py-2 text-lg rounded-lg ">Create list</button>
                  </div>
                </form>
              </div> -->
                <!-- <List 
                nameList={list.nameList}
                descList={list.descList}
                />  -->
            <div class="bg-white mt-5 w-full rounded-lg p-4">
              <div class="flex justify-between relative ">
                  <div class="flex items-center space-x-3 text-black">
                      <button type="button" onClick='toggleListContent()'>
                          <img class="w-4 h-4" src="assets/img/downList.svg" alt="list" />
                      </button>
                      <p class="text-3xl capitalize">Shopping list</p>
                      <p class="text-2xl">-</p>
                      <p class="text-xl pt-1 capitalize">cook for dinner</p>
                  </div>
                  <button onClick="toggleListOpts()" type="" >
                      <img class="w-10" src="assets/img/moreOpts.svg" alt="Options" />
                  </button>
                  <div id="listOpts" class="listOpts absolute right-0 mt-10 w-48 bg-neutral-50 z-10 rounded-lg overflow-hidden border-2 border-gray-500 hidden">
                    <div class="flex items-center py-2 px-4 hover:bg-gray-300 cursor-pointer">
                        <img class="w-5 mr-2" src='../layout/assets/img/edit.svg' alt="Edit list"/>
                        <p class="text-lg text-gray-700">Edit</p>
                    </div>
                    <div class="flex items-center py-2 px-4 hover:bg-gray-300 cursor-pointer">
                        <img class="w-5 mr-2" src='../layout/assets/img/clone.svg' alt="Duplicate list"/>
                        <p class="text-lg text-gray-700">Duplicate</p>
                    </div>
                    <div  class="flex items-center py-2 px-4 hover:bg-gray-300 cursor-pointer">
                        <img class="w-5 mr-2" src='../layout/assets/img/share.svg' alt="Share list"/>
                        <p class="text-lg text-gray-700">Sharing</p>
                    </div>
                    <hr />
                    <div class="flex items-center py-2 px-4 hover:bg-gray-300 cursor-pointer" >
                        <img class="w-5 mr-2" src='../layout/assets/img/trash.svg' alt="Delete list"/>
                        <p class="text-lg text-red-600">Delete</p>
                    </div>
                    
                </div>
              </div>
              <!-- {showTask && (<ListTodo />)} -->
              <div id="listContent" class="my-5 hidden">
                <div class="flex">
                  <p class="text-xl text-gray-700 text-justify bg-white/90 px-5 py-2 rounded-t-lg border-b-2 border-gray-400">To Do</p>
                  <button class="flex items-center py-2 px-4 ml-5 mb-2 rounded-lg  hover:rounded-lg  ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
                      <img class="w-5 mr-2" src='../layout/assets/img/addTask.svg' alt="add new task"/>
                      <p class="text-xl  font-bold ">New task</p>
                  </button>
                </div>
                    <!-- <Task 
                        task={tasks.task} 
                    /> -->
                    <div>
                      <div class="w-full text-gray-900 justify-between items-center text-xl p-3 bg-gray-400/20 flex">
                        <div class="flex">
                            <input type="checkbox" class="w-5 h-5 mr-2 checked:bg-blue-500 cursor-pointer" />
                            <p class="">lmao hu hu hu hu hu hu hu hu hu</p>
                        </div>
                        <div class="flex justify-evenly w-36">
                            <button class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"type="">
                                <img class="w-5" src='../layout/assets/img/edit.svg' alt="Edit task"/>
                            </button>
                            <button class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"  type="">
                                <img class="w-5" src='../layout/assets/img/clone.svg' alt="Duplicate task"/>            
                            </button>
                            <button class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"  type="">
                                <img class="w-5" src='../layout/assets/img/trash.svg' alt="Delete task"/>
                            </button>
                            <button type="" class="hover:cursor-move">
                                <img class="w-2" src='../layout/assets/img/move.svg' alt="Move task"/>
                            </button>
                        </div>
                      </div>
                      <hr/>
                      <div class="w-full text-gray-900 justify-between items-center text-xl p-3 bg-gray-400/20 flex">
                        <div class="flex">
                            <input type="checkbox" class="w-5 h-5 mr-2 checked:bg-blue-500 cursor-pointer" />
                            <p class="">lmao hu hu hu hu hu hu hu hu hu</p>
                        </div>
                        <div class="flex justify-evenly w-36">
                            <button class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"type="">
                                <img class="w-5" src='../layout/assets/img/edit.svg' alt="Edit task"/>
                            </button>
                            <button class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"  type="">
                                <img class="w-5" src='../layout/assets/img/clone.svg' alt="Duplicate task"/>            
                            </button>
                            <button class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"  type="">
                                <img class="w-5" src='../layout/assets/img/trash.svg' alt="Delete task"/>
                            </button>
                            <button type="" class="hover:cursor-move">
                                <img class="w-2" src='../layout/assets/img/move.svg' alt="Move task"/>
                            </button>
                        </div>
                      </div>
                      <hr/>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <script type="text/javascript">
      let subMenu = document.getElementById("subMenu");
      function toggleProfile(){
        subMenu.classList.toggle("open-menu");
      }

      let subOpts = document.getElementById("listOpts");
      function toggleListOpts(){
        subOpts.classList.toggle("open-menu");
      }

      let listContent = document.getElementById("listContent");
      function toggleListContent(){
        listContent.classList.toggle("open-menu");
      }

    </script>
</body>
</html>