<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../layout/assets/style/styleTodo.css"> 
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script>
      tailwind.config = {
        theme: {
          screens: {
            sm: '480px',
            md: '768px',
            lg: '976px',
            xl: '1440px',
          },
          extend: {
            backgroundImage:{
              'universe': "url('../layout/assets/img/univers.png')",
              'footer': "url('../layout/assets/img/footer-bg.png')",
              'cloudy':"url('../layout/assets/img/cloudy.svg')",
            },
            dropShadow: {
              'custom': '0 1px 1px rgba(29, 29, 29, 0.5)',
            },
            colors: {
              'blur': 'rgba(255,255,255, 0.05)',
              'transparent': 'rgba(255,255,255, 0)',
            },
          },
        }
      }
    </script>
</head>
<body>
    <div class="relative bg-universe bg-cover bg-center bg-no-repeat">
        <div class="z-50 px-2 sm:px-4 min-[320px]:px-4 py-2.5">
          <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="../layout/WelcomePage.html" class="flex items-center">
              <span class="text-4xl md:text-2xl sm:text-md min-[320px]:text-md font-bold uppercase">
                Logo
              </span>
            </a>
            <div class="flex md:order-2 space-x-3">
              <p class="font-semibold text-lg my-auto">Don't have an account?</p>
              <!-- <Link to="/signup"> -->
                <a href="../layout/SignUp.html">
                    <button
                    class="text-white font-semibold hover:translate-y-1 
                    tracking-wide bg-indigo-600 hover:bg-white hover:text-indigo-600 focus:ring-4 
                    focus:outline-none focus:ring-blue-300 rounded-lg text-md px-5 
                    py-3 text-center mr-3 md:mr-0"
                    >
                        Sign up
                    </button>
                </a>
              <!-- </Link> -->
            </div>
          </div>
        </div>
        <section class="relative h-screen flex justify-center items-center">
          <div class="px-6 h-auto max-w-lg md:min-w-sm mx-5 py-6 text-white bg-blur rounded-lg">
            <div class="flex justify-center items-center flex-wrap h-full g-6">
              <div class="mb-12 md:mb-0 sm:mb-0 sx:mb-0 ">
                <form>
                  <div class="text-3xl font-bold text-center justify-center mb-2">
                      Welcome Back
                  </div>
                  <div class="mb-6">
                      <label>Email</label>
                      <div class="flex items-center grow bg-blur rounded-lg px-3 mt-2">
                          <!-- <img class="w-5 h-5 fill-white" src="../layout/assets/" alt=""/> -->
                          <i class="far fa-envelope text-xl"></i>
                          <input
                          type="email"
                          class="form-control block w-full px-4 py-2 text-md font-normal text-white bg-transparent m-0 "
                          id="loginPassword"
                          placeholder="Enter your email"
                          maxLength={36}
                          />                        
                      </div>
                  </div>
  
                  <div class="mb-6">
                      <label>Password</label>
                      <div class="flex justify-center items-center bg-blur rounded-lg px-3 mt-2">
                          <div class="flex items-center">
                            <i class="fas fa-lock"></i>
                            <input
                              type="password"
                              class="flex form-control w-auto px-4 py-2 text-md font-normal text-white bg-transparent m-0 "
                              id="loginPassword"
                              placeholder="Enter your password"
                              maxLength={36}
                              />
                          </div>
                          <a href="../layout/ForgotPassword.html" >
                              <span class="md:text-sm sm:text-xs hover:text-blue-400">Forgot Password ?</span>
                          </a>
                      </div>
                  </div>
  
                  <div class="text-center">
                    <a href="../layout/HomePage.html">
                        <button
                            type="button"
                            class="inline-block px-7 py-3 w-full bg-blue-600 text-white text-md tracking-wide font-bold leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                            >
                            Login
                        </button>
                    </a>
                  </div>
                </form>
              </div>
            </div>
              <p class="text-sm font-semibold mt-10 px-24 absolute">
                  Don't have an account?
                  <a
                  href="../layout/SignUp.html"
                  class="ml-2 text-blue-500 hover:text-blue-700 underline underline-offset-2"
                  >
                  Register
                  </a>
              </p>
          </div>
        </section>
        <footer class="flex justify-between py-5 bg-footer
        bg-cover bg-center bg-no-repeat
            xl:flex-row xl:px-40 
            md:px-10 md:flex-row
            sm:flex-col">
            <div className="flex flex-col text-center">                
                <a href="./assets/style/styleTodo.css" class="xl:text-4xl lg:text-3xl md:text-2xl sm:text-4xl font-bold uppercase mb-2">
                    Logo
                </a>
                <p>© 2022 TodoList</p>
            </div>
            <div className="flex justify-center space-x-5 
            sm: mt-4">
                <a href="https://github.com/CuongXuanLe"><img  src={navIcon1} alt="LinkedIn"/></a>
                <a href="https://www.facebook.com/cuongle322002/"><img  src={navIcon2} alt="Facebook"/></a>
                <a href="https://www.instagram.com/lee.c_23/"><img  src={navIcon3} alt="Instagram"/></a>
            </div>
        </footer>
      </div>
</body>
</html>