<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/layout/assets/style/WelcomePage.css"> 
</head>
    <body>
        <div class="nav__container">
            
        </div>
        <section class="banner" id="home">
            <div class="align-items-center banner__row">
              <div class="banner__content">
                <div>
                  <span class="tagline">Welcome to my project</span>
                  <h1>
                    It's a simple To do List
                    <br />
                    <!-- <span class="wrap">{text}</span> -->
                  </h1>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                    similique ut nemo doloremque, ea maiores minima, deserunt, nulla
                    nihil impedit omnis. Necessitatibus nisi ratione dicta, ipsum
                    explicabo natus et quas.
                  </p>
                  <!-- <Link to="/login"> -->
                    <button class="btn__connect">
                      Let's started
                    </button>
                  <!-- </Link> -->
                </div>
              </div>
              <div class="banner__img">
                <img src="assets/img/header-img.svg" alt="Header Img" />
              </div>
            </div>
          </section>
    </body>
</html>